{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if request.user.is_staff and request.user.is_superuser and request.user.is_authenticated %}
<a class="btn btn-outline-success" href="{% url 'update_product' product.id %}" role="button">Update</a>
<a class="btn btn-outline-success" href="{% url 'delete_product' product.id %}" role="button">DELETE</a>
{% endif %}

 <figure style ="text-align: center;" class="figure">
    <figure class="figure">
    <img style ="width: 500px; height: auto; border:5px solid black; color: #fff" src="{{ product.image.url }}" class="figure-img img-fluid rounded" alt="...">
    <h4 style= "color:#fff" >Цена: {{product.price}} сом</h4>
        <h2 style="color:#fff">{{ product.name }}</h2>
        <figcaption style="color:#fff" class="figure-caption">{{ product.description }}</figcaption>
</figure>
{% endblock %}